@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

body,
html {
  font-family: "M PLUS Rounded 1c", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#one {
  padding: 0.5em 2.5em 0.5em 2.5em;
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

#headerlogo {
  float: left;
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
}

nav > a {
  float: right;
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

h1 {
  text-align: left;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
